@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway&family=Roboto&family=Roboto+Slab&display=swap');




@mixin mainfont {
	font-family: 'Roboto', sans-serif;
}
@mixin centerContent($direction) {
	display: flex;
	justify-content: center;
	flex-direction: $direction;
}
@mixin standardBtn {
	@include mainfont;
	min-width: 30px;
	min-height: 20px;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	background-color: black;
	padding: 0.8rem;
	border-radius: 12px;
	border: 1px black solid;
	cursor: pointer;
	box-shadow: 0px 3px 4px 2px grey;
	transition: 300ms;
	&:hover {
		color: black;
		background-color: white;
		transition: 300ms;
	}
	&:active {
		box-shadow: 0px 0px 0px 0px;
	}
}




* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
	height: 90px;
	width: 100%;
	background: #fafafa;
	box-shadow: 0px 0px 8px 0px black;
    margin: 0 auto;
    margin-bottom: 3rem;
    overflow: hidden;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo {
    	height: 220px;
    	margin-top: 0.5rem;
    }
    .socmedia-icons {
    	display: flex;
    	justify-content: flex-start;
    	flex-direction: row;
    	margin-right: 1rem;
    	.socmedia {
    		height: 3.2rem;
    		margin-right: 0.5rem;
    		&:hover {
    			opacity: 0.5;
    		}
    	}
	}

}
#main-section {
	width: 1200px;
	@include centerContent(column);
	margin: auto;
	> div {
		@include centerContent(row);
		justify-content: space-between;
		align-items: baseline;
	}
}
#issVelocity {
	@include mainfont;
} 
#lockBtn {
	@include standardBtn;
	margin-bottom: 1rem;
	width: 145px;
}
#issMap { 
	height: 530px; //needs to be at least 380
	width: 100%;
	align-self: center;
	border: 3px solid black;
}
#coordinates {
	@include centerContent(row);
	p {
		color: grey;
		margin-left: auto;
		margin-right: auto;
		@include mainfont;
	}
}
#expedition65 {
	text-align: center;
	margin: 4rem 0rem 1rem 0rem;
	@include mainfont;
}
#iss-crew {
	width: 1200px;
	@include centerContent(row);
	margin: auto;
	margin-bottom: 3rem;

}
#expedition65-img {
	max-height: 400px;
	max-width: 340px;
	margin-top: 2rem;
}
#crew-table {
	margin-top: 2rem;
	border: 5px black solid;
	border-left: 0px;
	width: 600px;
	height: 400px;
	border-collapse: collapse;
	@include mainfont;
	tr th {
		font-size: 1.1rem;
		background-color: #e8e8e8;
	}

	tr td {
		border: 1px solid black;
		border-left: 0px;
		text-align: center;
		background-color: #f5f5f5;
	}
	td:hover {
		background-color: grey;
		transition: 150ms;
	}

}
#crew-col2 {
	width: 60%;
}
@media (max-width: 1220px) {
	#main-section {
		width: 960px;
	}
	#iss-crew {
		width: 760px;
		#crew-table {
			width: 540px;
		}
		#expedition65-img {
			width: 240px;
		}
	}
}

@media (max-width: 970px) {
	#main-section {
		width: 760px;
	}
	#iss-crew {
		width: 700px;
		#crew-table {
			width: 540px;
		}
		#expedition65-img {
			width: 240px;
		}
	}
}

@media (max-width: 800px) {
	#main-section {
		width: 560px;
		height: 400px;
	}
	#iss-crew {
		width: 500px;
		height: 300px;
		#crew-table {
			width: 340px;
			height: 268px;
			border: 3px black solid;
			tr th {
				font-size: 1rem;
			}
			tr td {
				font-size: 0.9rem;
				padding: 5px;
			}
		}
		#expedition65-img {
			width: 170px;
		}
	}
}

@media (max-width: 580px) {
	#main-section {
		width: 430px;
		height: 460px;
	}
	#iss-crew {
		width: 400px;
		height: 300px;
		#crew-table {
			width: 280px;
			height: 268px;
			border: 3px black solid;
			tr th {
				font-size: 0.9rem;
			}
			tr td {
				font-size: 0.8rem;
				padding: 5px;
			}
		}
		#expedition65-img {
			width: 150px;
		}
	}
}
@media (max-width: 450px) {
	#main-section {
		width: 340px;
		height: 500px;
	}
	#iss-crew {
		width: 300px;
		height: 283px;
		#crew-table {
			width: 210px;
			height: 188px;
			border: 2px black solid;
			tr th {
				font-size: 0.75rem;
			}
			tr td {
				font-size: 0.7rem;
				padding: 5px;
			}
		}
		#expedition65-img {
			width: 120px;
		}
	}
	#logo {
    	height: 160px !important;
    }
    .socmedia {
    	height: 2.5rem !important;
    }
    #issVelocity {
		font-size: 0.9rem;
	} 
	#lockBtn {
		margin-bottom: 1rem;
		width: 105px;
		font-size: 0.7rem;
	}
}